body, html{
  background-color: #fff;

  max-width: 100%;
  overflow-x: hidden;


  @media (max-width: $breakpoint-large-max) {
    //background: gold;

  }
  @media (max-width: $breakpoint-medium-max) {
   // background: pink;
  }

  @media (max-width: $breakpoint-small-max) {
   // background: cyan;
  }

  @media (max-width: $breakpoint-xsmall-max) {
   // background: lime;
  }
}

.uk-container-custom{
  max-width: 1480px;





  @media (min-width: 960px){

    /*
    padding-left: 30px;
    padding-right: 30px;
    */

  }
}

.top-section{
  overflow: hidden;
  background-image: url("/img/main_buildings.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;

}


.title{
  font-size: 85px;
  line-height: 100%;
  color: $black;
  font-family: "Playfair Display Bold", serif;
  margin: 0;
  padding: 0;
  white-space: pre-line;



  &--small{
    font-size: 60px;
    line-height: 120%;
  }

  @media (max-width: $breakpoint-large-max){
    font-size: 50px;

    &--small{
      font-size: 40px;

    }
  }

  @media (max-width: $breakpoint-medium-max){
    font-size: 50px;
  }


  @media (max-width: $breakpoint-xsmall-max){
    font-size: 35px;
  }

}

.paragraph{
  font-size: 42px;
  line-height: 130%;
  color: $blue;
  font-family: "Futura New Light", sans-serif;
  font-weight: normal;




  @media (max-width: $breakpoint-large-max){
    font-size: 25px;
  }

  @media (max-width: $breakpoint-medium-max){
    font-size: 20px;
  }

  @media (max-width: $breakpoint-xsmall-max){
    font-size: 18px;
  }
}




.uk-offcanvas-bar{
  background-color: $blue;

  .uk-offcanvas-close.uk-icon.uk-close{
    svg{
      line{
        stroke: #fff;
      }
    }
  }

  ul{
    li{
      list-style-type: none;
      margin-bottom: 10px;
      a{
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
      }
    }
  }
}

.signature{

  background-color: $medium_grey;
  p{
    font-family: 'Qanelas Medium', sans-serif;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    color: #fff;

    a{
      text-decoration: none;
      color: #dd4d3c;
      font-family: 'Qanelas Bold', sans-serif;

      transition: text-shadow .4s;


      &:hover{
        text-decoration: none;
        text-shadow: 0 0 2px $black;
      }
    }
  }
}

.description__text-block{
  //background: gold;
}

.description__items-list{
//  background: pink;


}


.button{
  color: $white;
  background-color: $black;
  text-transform: uppercase;

  width: 100%;
  text-align: center;
  padding: 27px 10px;


  box-sizing: border-box;
  text-decoration: none;


  transition: background-color .4s;

  font-size: 43px;

  font-family: 'Futura New Light', sans-serif;



  &:hover{
    background-color: $blue;
    color: $white;
    text-decoration: none;
  }


  @media (max-width: $breakpoint-large-max){
    font-size: 30px;
    padding: 10px;
  }
}