$beige: #e9dcc4;
$galaxy: #9bb3d8;
//$light-galaxy: #495162;
$nut: #9ee260;
$black: #080808;
$light_grey: #efefef;
$medium_grey: #4e1e00;
$dark_grey: #3a3a3a;
$light_brown: #a0852f;

$deep_purple: #90d082;



/*----------*/

$white: #fff;
$black: #000;
$blue: #023855;

$gold: #d3ad46;
