.contacts{
  padding-top: 150px;

  margin-bottom: 115px;



  .title{
    white-space: pre-line;
    margin-bottom: 35px;


    @media (max-width: $breakpoint-medium-max){
      white-space: normal;
      text-align: center;
      padding: 15px;
    }
  }

  .paragraph{
    white-space: pre-line;
    margin: 0;
    padding: 0;


    @media (max-width: $breakpoint-medium-max){
      white-space: normal;
      text-align: center;
      padding: 15px;
    }
  }
}

.contacts__row{
  display: flex;

  @media (max-width: $breakpoint-medium-max){
    flex-wrap: wrap;
  }
}

.contacts__text-content{
  flex-basis: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;



  @media (max-width: $breakpoint-large-max){
    padding-left: 0px;

  }

  @media (max-width: $breakpoint-medium-max){
    flex-basis: 100%;
  }
}

.contacts__form-content{

  flex-basis: 50%;
  background-color: $black;
  min-height: 700px;
  padding-top: 125px;

  @media (max-width: $breakpoint-large-max){
    padding-top: 50px;
  }

  @media (max-width: $breakpoint-medium-max){
    flex-basis: 100%;

    box-sizing: border-box;
  }


}


.contacts__text-title{
  color: $black;
  font-family: "Playfair Display Bold", serif;
  line-height: 100%;
  font-size: 60px;

  @media (max-width: $breakpoint-large-max){
    font-size: 45px;
  }
}

.contacts__text-block{

  &:nth-child(2){
    margin-top: 80px;
  }

}

.contacts__form-title{
  font-size: 49px;
  line-height: 100%;
  color: #fff;
  font-family: "Playfair Display Bold", serif;
  text-align: center;
  margin: 0;
  margin-bottom: 35px;

  @media (max-width: $breakpoint-medium-max){
    font-size: 35px;
  }
}

.contacts__form-subtitle{
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 102%;
  color: #ffffff;
  font-family: "Futura New Light", sans-serif;
  font-weight: 300;
  text-align: center;
  white-space: pre-line;
  margin-bottom: 50px;

  @media (max-width: $breakpoint-medium-max){
    font-size: 20px;
    white-space: normal;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
  }

}

.contacts__form{
  width: 75.15%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  @media (max-width: $breakpoint-medium-max){
    width: calc(100% - 30px);


  }

  @media (max-width: $breakpoint-small-max) {

  }

  input{
    border: 1px solid $gold;
    background-color: transparent;
    box-sizing: border-box;
    padding: 20px 25px 20px 35px;
    vertical-align: middle;
    display: block;
    margin-bottom: 35px;




    font-size: 25px;

    color: $gold;

    outline: 0 !important;


    @media (max-width: $breakpoint-small-max) {
      padding: 15px 15px 15px 15px;
      width: 100%;
    }



    &:focus{
      border-color: $light_brown;
    }


    transition: all 1s;


    &.error{
      border-color: #ff5e03 !important;
      box-shadow: 0 0 5px 1px #ff5e03;

      &+label{
        display: none !important;
      }
    }


  }

  ::-webkit-input-placeholder {
    vertical-align: middle;
    color: #fff;
    font-size: 25px;
    line-height: 120%;
    letter-spacing: 1px;
    font-family: "Futura New Light", sans-serif;

    &:focus{
      color: transparent;
    }
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    vertical-align: middle;
    color: #fff;
    font-size: 25px;
    line-height: 120%;
    letter-spacing: 1px;
    font-family: "Futura New Light", sans-serif;


    &:focus{
      color: transparent;
    }


  }

  ::placeholder {
    vertical-align: middle;
    color: #fff;
    font-size: 25px;
    line-height: 120%;
    letter-spacing: 1px;
    font-family: "Futura New Light", sans-serif;

    &:focus{
      color: transparent;
    }

    //background: red;
  }

  button{
    padding: 20px;
    vertical-align: middle;
    color: $black;
    font-size: 25px;
    line-height: 120%;
    letter-spacing: 1px;
    font-family: "Futura New Light", sans-serif;
    background: linear-gradient(90deg, $gold, #EDD273, $gold);
    border: none;
    cursor: pointer;
    display: block;
    margin-top: 50px;

    transition: all .4s;



    &:hover{
      color: $light_brown;
      background: #fff;
    }

    @media (max-width: $breakpoint-small-max) {
      padding: 15px 15px 15px 15px;
    }
  }
}


.contacts__list-block{

  margin: 0;
  padding: 0;
  li{
    padding-left: 0;
    list-style-type: none;
    font-size: 54.55px;
    line-height: 100%;
    font-family: 'Futura New Light', sans-serif;
    color: $blue;
    padding-left: 77px;

    position: relative;

    margin-bottom: 50px;


    white-space: pre-line;

    &:last-child{
      margin-bottom: 0;
    }

    &:before{
      content: '';
      width: 30px;
      height: 30px;
      background-color: $gold;
      top: 10px;
      left: 0;
      position: absolute;
      display: block;
      border-radius: 50px;
    }



    @media (max-width: $breakpoint-large-max){
      font-size: 30px;
      white-space: normal;
      margin-bottom: 30px;

      padding-left: 35px;
    }

  }


  @media (max-width: $breakpoint-large-max){
    margin-bottom: 30px;
  }

}