.description{

  padding-top: 200px;


  .title{
    @media (max-width: $breakpoint-large-max){
      white-space: normal;
      font-size: 60px;
    }

    @media (max-width: $breakpoint-medium-max){
      text-align: center;
      margin-bottom: 30px;
      font-size: 40px;

    }

  }

  .paragraph{
    white-space: pre-line;

    @media (max-width: $breakpoint-large-max){
      white-space: normal;
      margin-bottom: 50px;
    }

    @media (max-width: $breakpoint-medium-max){
      text-align: center;
    }


  }



  .button{
    @media (max-width: $breakpoint-large-max){
      margin-top: 60px;
    }
  }

  @media (max-width: $breakpoint-medium-max) {
    padding-top: 50px;
  }


}




.description__content-wrapper{
  display: flex;
  justify-content: space-between;

  background-color: #fff;
  margin-top: -55px;
  padding: 80px  0;



  @media (max-width: $breakpoint-medium-max) {
    flex-wrap: wrap;
    padding-right: 0;
    padding-left: 0;


  }

  @media (max-width: $breakpoint-small-max) {
    flex-wrap: wrap;
  }


  @media (max-width: $breakpoint-xsmall-max) {

  }

}


.description__text-block{

  flex-basis: 42%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .paragraph{
    margin: 0;
    padding: 0;
  }


  @media (max-width: $breakpoint-large-max){
    flex-basis: 35%;
  }

  @media (max-width: $breakpoint-medium-max){
    padding-right: 30px;
    flex-basis: 100%;
  }

  @media (max-width: $breakpoint-small-max){
    flex-basis: 100%;
    padding-right: 0;

    margin-bottom: 40px;
  }
}



.description__img{
  width: 53%;

  @media (max-width: 1200px){
    margin-top: 60px;

    width: 100%;
  }

  img{
    display: block;
    width: 100%;
  }
}


.description__items-list{


  margin: 0;
  padding: 0;
  list-style-type: none;


  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  align-content: space-between;
  flex-basis: 55%;
  min-height: 560px;

  @media (max-width: $breakpoint-large-max){
   min-height: 485px;
   flex-basis: 65%;


  }

  @media (max-width: $breakpoint-medium-max){

    flex-basis: 100%;
    margin-top: 30px;
  }

}


.description__item{
  margin: 0;
  padding: 0;
/*
  flex-grow: 1;
  flex-shrink: 0;*/
  flex-basis: 26%;

  text-align: center;


  span{
    font-size: 19px;
    line-height: 113%;
    color: #023855;
    font-family: "Bookman Old Style", serif;
    text-align: center;
    white-space: pre-line;

  }


  @media (max-width: $breakpoint-small-max){
    padding-bottom: 40px;

  }


  @media (max-width: $breakpoint-xsmall-max){
    flex-basis: 100%;
  }
}


.description__item-img-wrap{

  background: $light_brown;

  margin: 0  auto;

  border-radius: 80px;
  height: 157px;
  width: 157px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 40px;


  img{
    width: 40%;
    display: block;
  }


  @media (max-width: $breakpoint-large-max){
    height: 140px;
    width: 140px;
  }

}



