.desc-block{



  padding: 0 30px;



  @media (max-width: $breakpoint-medium-max){
    //overflow-x: hidden;


  }


  @media (max-width: $breakpoint-xsmall-max){
    //overflow-x: hidden;
    padding-right: 0;
    padding-left: 0;

  }


  .uk-container-custom{
    position: relative;





    //outline: 1px solid red;

  }

  .title{
    margin-bottom: 30px;
    white-space: pre-line;

    @media (max-width: $breakpoint-xsmall-max){
      white-space: normal;
    }
  }

  .paragraph{
    white-space: pre-line;

    @media (max-width: $breakpoint-xsmall-max){
      white-space: normal;
    }

  }


  &.first{
    padding-top: 65px;




    .desc-block__text-section{
      z-index: 3;
      position: relative;


    }


    .desc-block__img-section{
      width: 760px;
      top: 0;
      right: -130px;

     // left: 100%;

      //outline: 1px solid black;


      @media (max-width: $breakpoint-small-max){
        //width: 670px;



        &>div{

        }

        position: static;
        width: 100%;

     /*   &:after{
          content: '';
          background: transparentize($beige,  0.2);
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          position: absolute;
        }*/
      }


      @media (max-width: $breakpoint-small-max){

        //overflow: hidden;
       /* width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);*/
      }


      @media (max-width: $breakpoint-xsmall-max){

/*         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);*/

      }

      @media (max-width: $breakpoint-xsmall-max){
          width: 100%;
          top: 20px;
         left: 50%;

        overflow: hidden;

      }
    }

  }

  &.second{

    .uk-container-custom{

    }

    padding-top: 400px;


    @media (max-width: $breakpoint-small-max){
      padding-top: 40px;
    }

    @media (max-width: $breakpoint-xsmall-max){
      padding-top: 30px;



    }


    .uk-container-custom{
      display: flex;
      flex-wrap: wrap;
    }

    .desc-block__text-section{
     // flex-basis: 50%;

      &.big-mt{
        margin-top: 225px;


        @media (max-width: $breakpoint-small-max){
          margin-top: 0;
          margin-bottom: 70px;
        }
      }

      position: relative;
      z-index: 3 ;
    }





    .desc-block__img-section{
      width: 635px;
      top: -370px;
      left: -130px;





      @media (max-width: $breakpoint-small-max){
        //width: 670px;

        position: static;
        width: 100%;

        &:after{
      /*    content: '';
          background: transparentize($beige,  0.2);
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          position: absolute;*/
        }
      }


      @media (max-width: $breakpoint-small-max) {
       // max-width: 400px;
        top: 100px;
        width: 600px;

      }
    }
  }

  &.third{
    padding-top: 230px;
    padding-bottom: 140px;


    .desc-block__text-section{
      position: relative;

      z-index: 3;
    }

    @media (max-width: $breakpoint-small-max){
      padding-top: 0;
      padding-bottom: 30px;
    }


    .desc-block__img-section{
      top: -415px;
      right: -130px;
      max-width: 680px;

      @media (max-width: $breakpoint-small-max){
        position: static;
        //width: 670px;



        top: auto;
        bottom: 0;

        &:after{
    /*      content: '';
          background: transparentize($beige,  0.2);
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          position: absolute;*/
        }
      }

      @media (max-width: $breakpoint-xsmall-max){
        right: -60px;
      }

    }
  }
}


.desc-block__text-section{
  padding: 0 0 0 30px;


  box-sizing: border-box;

  @media (max-width: $breakpoint-small-max){
    padding-left: 0;
    text-align: center;
  }


//  outline: 1px solid red;


 &.left{
    flex-basis: 50%;
  }

  &.right{
    flex-basis: 50%;


    padding-left: 50px;

  }


  @media (max-width: $breakpoint-small-max) {
    &.left,
    &.right{
      flex-basis: 100%;
      padding-left: 0;
    }
  }
}

.desc-block__img-section{

 //outline: 1px solid black;

  position: absolute;


  img{
    width: 100%;
  }

}





.desc-block__common-paragraphs{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;



  @media (max-width: $breakpoint-small-max){
   flex-wrap: wrap;

  }

  .paragraph{
    flex-basis: 50%;
    box-sizing: border-box;

    //utline: 1px solid red;

    &.right{
      padding-left: 33px;

      @media (max-width: $breakpoint-small-max){
        padding-left: 0;
      }
    }

    @media (max-width: $breakpoint-small-max){
      flex-basis: 100%;
      margin-bottom: 30px;

    }

  }




}