.footer{
  background-color: $black;
  padding: 125px 0;
}

.footer__row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  align-items: center;
}

.footer__info{
  p{
      white-space: pre-line;
    font-size: 32px;
    line-height: 100%;
    color: #fff;
    font-family: "Bookman Old Style", serif;
    margin: 0;
    margin-bottom: 20px;
  }

  a{
    transition: color .3s;
color: #fff;

    &:hover{
      color: transparentize($white, .3);
      text-decoration: none;
    }
  }
}


.footer__contact{
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
}

.footer-tel{
  font-size: 80px;
  line-height: 100%;

  font-family: "Playfair Display Regular", serif;
  text-align: center;



  @media (max-width: $breakpoint-medium-max){
    font-size: 50px;
  }

  @media (max-width: $breakpoint-small-max){
    font-size: 30px;
  }


  a{
    color: #fff;
    transition: color .4s;
    &:hover{
      text-decoration: none;
      color: transparentize($white, .3);
    }
  }
}

.footer__right-col,
.footer__left-col{
  @media (max-width: $breakpoint-medium-max){
    flex-basis: 100%;
    text-align: center;
  }
}

.footer__dev-wrap{
  background-color: #fff;

  p{
    font-family: "Playfair Display Regular", serif;
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
    color: $black;


    a{
      font-family: 'Playfair Display Regular', serif;
      color: $blue;
      text-decoration: none;

      &:hover{
        text-shadow: 1px 0px 0px rgba(221, 77, 60, 0.67);
      }
    }
  }
}