$initial-header-height: 100px;

.header {

  padding-top: 0px;


  transition: padding .5s;

  @media (max-width: $breakpoint-large-max) {
   /* padding: 30px 0 40px;*/

  }
  @media (max-width: $breakpoint-medium-max) {
    /*padding: 25px 0;*/
  }

  @media (max-width: $breakpoint-small-max) {

    /*padding: 20px 0;*/
  }

  @media (max-width: $breakpoint-xsmall-max) {

    /*padding: 10px 0;*/
  }

}
.header__logo{
  display: block;
  margin: 0;
  padding: 0;
  width: 240px;
  text-align: center;





  img{
    width: 100%;
    display: block;
  }

  transition: all .4s;



  @media (max-width: $breakpoint-small-max){
    width: 150px;
    padding: 10px;
  }

  @media (max-width: $breakpoint-xsmall-max){
    width: 40px;
    padding: 5px;
    img{
      width: 100%;
    }
  }

/*  @media (max-width: $breakpoint-xsmall-max){
    max-width: 100px;
  }*/


  @media (max-width: $breakpoint-xsmall-max) {
    //background: navy;
  }

  img{
    @media (max-width: $breakpoint-xsmall-max){
     /* max-width: 150px;*/
    }
  }
}

.header__row{
  display: flex;

  justify-content: space-between;
  align-items: flex-start;

  max-height: $initial-header-height;



}



.header__nav-list-no-mob{
  &.active{
    //font-weight: 900;
  }
}

.header__nav-list{
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  margin: 0;
  padding: 0;

  align-self: stretch;

  transition: padding-top .4s;


  @media (max-width: $breakpoint-small-max) {
    /*padding-top: 10px;*/
  }

  @media (max-width: $breakpoint-small-max) {

    .header__nav-list-no-mob{
     /* display: none;*/
    }

  }


  @media (max-width: $breakpoint-xsmall-max) {
    .header__nav-list-no-mob{
      display: none;
    }
  }


  li{
    margin: 0;
    margin-right: 20px;
    margin-top: 5px;
    padding: 0;
    position: relative;


    &:first-child{
      margin-left: auto;
    }

    &.header__nav-list-lang-item{
      margin-right: auto;


    }


    @media (max-width: $breakpoint-small-max){
      margin-right: 10px;
    }




    &.hover-line{
      overflow: hidden;


      &:after,
      &:before{
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 0px;
        background-color: $black;
        bottom: 2px;

        right: calc(100% + 2px);

        transition: right .2s, left .2s, height .3s, bottom .4s;
      }


      &:before{
        right: auto;
        left: 100%;
        background-color: $black;

      }

      &:hover{
        &:after{
          right: 50%;
          height: 3px;
        }
        &:before{
          left: 50%;
          height: 3px;
        }
      }



      &.active{
        &:before,
        &:after{
          height: 1px;
          width: 100%;
          right: 0;
          left: 0;
          bottom: 3px;

        }
      }
    }


    &:last-child{
      margin-right: 0;
    }

    a{
      font-size: 16px;
      letter-spacing: 1px;
      color: $black;
      font-family: "Futura New Light", sans-serif;
      text-transform: uppercase;


      &.active{

      }

      &:hover{
        text-decoration: none;
      }

      @media (max-width: $breakpoint-xsmall-max) {
        font-size: 12px;
      }


    }

    &.header__big-phone{
      padding: 0;
      margin-top: 0;

;

      @media (max-width: $breakpoint-small-max){
        flex-basis: auto;
        /*order: 1;*/
        font-weight: bold;

        align-self: center;
      }




      a{
        position: relative;
        transition: color .4s, left .2s, right .2s, font-size .4s;



        font-size: 51px;
        font-family: 'Playfair Display Regular', sans-serif;
        line-height: 100%;


        @media (max-width: $breakpoint-small-max){
          font-size: 30px;

        }

        @media (max-width: $breakpoint-xsmall-max){
          font-size: 15px;
        }



        &:before,
        &:after
        {
          content: '';
          display: block;
          /*width: 3px;*/
          width: 0px;
          height: 4px;
          bottom: 0px;
          top: 100%;
          background: $blue;
          position: absolute;
          left: 50%;


          transition: all .4s;
        }

        &:after{
          left: auto;
          right: 50%;
        }



        &:hover{
          color: $blue;
          &:before{
            left:  0;
            background: $blue;
            width: 50%;
          }

          &:after{
            right: 0;
            left: 50%;
            width: 50%;
            background: $blue;
          }
        }



      }

    }


    &.header__nav-list-lang-item{
      @media (max-width: $breakpoint-xsmall-max) {
        font-size: 20px;
      }
    }
  }
}


.header__nav-list-lang-item{



  @media (max-width: $breakpoint-small-max){
    /*order: 2;*/
  }

  a{
    display: inline-block;
    transition: color .5s;

    position: relative;


    &:after{
      transition: all .4s;
      height: 0;
      bottom: -10px;
      width: 0;
    }


    &.current{
      //font-family: 'Source Serif Pro Bold', sans-serif;


      &:after{
        position: absolute;
        content: '';
        height: 1px;
        width: 100%;
        right: 0;
        left: 0;
        bottom: 3px;
        background: $black;
        transition: all .4s;
      }
    }

    &:hover:not(.current){
      color: $blue;





/*      &:after{
        content: '';
        height: 3px;
        width: 100%;
        right: 0;
        left: 0;
        bottom: 0px;
        background: $blue;
      }*/
    }



    &:first-child{
      margin-right: 5px;
    }


  }

}


.header__nav-list-social-item{
  a{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 25px;

    background-color: $black;
    border-radius: 50px;

    overflow: hidden;


    transition: all .4s .1s;

    svg{
      height: 15px;

      path{
        fill: $galaxy;
        transition: all .4s;
      }
    }

    &:hover{
      background-color: #fff;

      svg{

        path{
          fill: $galaxy;
        }
      }
    }
  }
}

.header__mobile-menu-btn{

  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;


  svg{
    height: 15px;

    path{
      fill: #fff;
    }
  }

  display: none;


  @media (max-width: $breakpoint-xsmall-max) {
    height: 32px;
    display: inline-flex;
  }

}


.header-wrapper {
  transition: background-color .4s;

  background-color: $white;


  max-height: $initial-header-height;


  @media (max-width: $breakpoint-xsmall-max) {
    background-color: transparentize(#fff, .2);
    /*height: 55px !important;*/

    .header{

    }

  }


  &+.uk-sticky-placeholder{
    /*display: none;*/

    @media (max-width: $breakpoint-small-max) {
    /*  display: block;*/
    }



  }

  &.uk-active {
    background-color: transparentize(#fff, .2);


    .header__logo{
      padding: 5px;
      width: $initial-header-height;
    }



    .header__nav-list{
      padding-top: 0;
      transition: padding-top .4s;
    }

    .header{
      padding: 5px 0;

      li.header__big-phone a{
        font-size: 30px;
        line-height: 120%;

      }






      @media (max-width: $breakpoint-large-max) {
       /* padding: 10px 0;*/



      }
      @media (max-width: $breakpoint-small-max) {
        /*padding: 10px 0;*/

        height: 40px;



        .header__logo{
          width: 35px;
        }

        li.header__big-phone{
          padding-top: 4px;

          a{

            font-size: 14px;
            line-height: 100%;
          }
        }



      }

      @media (max-width: $breakpoint-medium-max) {
        /*padding: 10px 0;*/

      }

      @media (max-width: $breakpoint-small-max) {
        /*padding: 10px 0;*/



        max-height: 70px;
      }

      @media (max-width: $breakpoint-xsmall-max) {
        /*padding: 10px 0;*/
      }
    }

  }
}


/*.uk-scrollspy-inview.uk-animation-slide-bottom{
  circle{
    fill: $blue;
  }
}*/

.header__toggle-btn{


  circle{
    fill: $blue;
  }
  @media (max-width: $breakpoint-small-max) {
    /*order: 3;*/
  }
}