.offering{
  padding-top: 115px;
  margin-bottom: 140px;


  @media (max-width: $breakpoint-small-max){
    padding-top: 15px;
    margin-top: 15px;
    margin-bottom: 75px;
  }
}

.offering__examples-row{
    display: flex;
    justify-content: center;

  @media (max-width: $breakpoint-small-max){
    flex-wrap: wrap;
  }

}


.offering__examples-item {
  margin: 0 10px;

  @media (max-width: $breakpoint-small-max){
    margin-bottom: 30px;
  }
}

.offering__examples-item-img-wrap{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 210px;
  height: 210px;
  border: 1px dashed $nut;
  border-radius: 150px;
  padding: 5px;
  background-color: #fff;

  margin-bottom: 20px;



  img{
    display: block;
    width: 97%;
  }
}


.offering__examples-item{

}


.offering__examples-item-title{
  margin: 0;
  padding: 0;
  font-size: 27px;
  line-height: 137%;
  color: $nut;
  font-family: "Qanelas Black", sans-serif;
  text-align: center;
}


.offering__texts{
  margin-top: 73px;
  @media (max-width: $breakpoint-small-max){
    margin-top: 50px;
  }
}

.offering__title{;
  font-size: 36px;
  line-height: 100%;
  color: $galaxy;
  font-family: "Source Serif Pro Bold", sans-serif;
  text-align: center;
  margin-bottom: 30px;
  font-weight: normal;

  white-space: pre-line;

  @media (max-width: $breakpoint-small-max){
    font-size: 28px;
    margin-bottom: 20px;

    white-space: normal;
  }
}


.offering__paragraph{
  font-size: 24px;
  line-height: 125%;
  color: $galaxy;
  font-family: "Qanelas Regular", sans-serif;
  text-align: center;
  white-space: pre-line;
  margin: 0;

  @media (max-width: $breakpoint-small-max){
   white-space: normal;
    font-size: 18px;
  }
}


.offering__btn-wrap{
  @extend .send-message__form;

  a{
    display: block;
    width: 100%;
    padding: 25px 30px;
    font-family: 'Qanelas Regular', sans-serif;
    font-size: 25px;
    border: 1px solid transparent;
    background-color: $galaxy;
    color: $beige;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;


    transition: color .4s, background-color .3s;
    transition-delay: color 0s, backgroud-color .2s;

    &:hover{
      border-color: $galaxy;
      color: $galaxy;
      background: transparent;
      text-decoration: none;


    }

  }
}