.plans__gallery{
  padding-top: 190px;
  margin-top: 50px;

  @media (max-width: $breakpoint-small-max) {
    padding-top: 70px;
  }

  padding-bottom: 100px;




  a{
    text-decoration: none;
    text-align: center;
    display: block;
    color: $black;

    margin-bottom: 100px;

    @media (max-width: $breakpoint-large-max){
      margin-bottom: 50px;
    }

    img{
      display: block;
      width: 100%;
    }

    span{
      font-size: 42px;
      margin-top: 30px;
      display: block;

      font-family: 'Futura New Light', sans-serif;
    }
  }
}

