.send-message{
  padding-top: 110px;
  padding-bottom: 110px;


  color: #fff;


  background: $galaxy;
  background: linear-gradient(180deg, $galaxy 0%, $beige 100%);


  @media (max-width: $breakpoint-small-max){
    padding-top: 40px;
    padding-bottom: 40px;
  }

}
.send-message__title,
.send-message__subtitle{
  color: #fff;
}

.send-message__form{
  width: 620px;
  max-width: calc(100% - 30px);
  margin: 0 auto;

  @media (max-width: $breakpoint-small-max){
    padding-bottom: 70px;
  }

  input, button{
    display: block;
    width: 100%;
    padding: 25px 30px ;
    font-family: 'Qanelas Regular', sans-serif;
    font-size: 25px;
    border: 1px solid $beige;
    background-color: transparent;
    color: $beige;
    box-sizing: border-box;




    &:not(button){
      margin-bottom: 25px;
      color: $beige;

      &:nth-child(2){
        margin-bottom: 80px;
      }
    }



    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #fff;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #fff;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #fff;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #fff;
    }



    input{
      color: red;
    }


    @media (max-width: $breakpoint-small-max){
      padding: 20px 20px;
      font-size: 20px;

      &:not(button){
        //       margin-bottom: 41px;

        &:nth-child(2){
          margin-bottom: 40px;
        }
      }
    }
  }


  button{
    color: $galaxy;
    background-color: $beige;
    transition: .4s;
    cursor: pointer;

    &:hover{
      background-color: #fff;
      color: $beige;
    }



    @media (max-width: $breakpoint-small-max){
      margin-bottom: 50px;
    }
  }
}

//D93D35


.error-modal{
  background-color: #fff;

  h2.uk-modal-title{
    color: #D93D35;
    font-family: 'Book Antiqua', serif;
    font-size: 34px;

  }

  p{
    font-family: 'Book Antiqua', sans-serif;
    font-size: 26px;
    color: #D93D35;
  }
}


