
.slider{
  margin-top: 70px;


  svg[data-svg]{
    display: none !important;
  }
}

.slider__nav-arrow{
  width: 31px;
  height: 31px;
  background-color:  transparentize($galaxy, .5);

  border-radius: 50px;

  border: 0px solid $galaxy;
  transition: background-color .4s;


  &:hover{
    background-color: $beige;

  }

  display: flex;
  justify-content: center;
  align-items: center;


  &.prev{
    div{
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 9px 5px 0;
      border-color: transparent #fff transparent transparent;
    }
  }

  &.next{
    div{
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 9px;
      border-color: transparent transparent transparent #fff;
    }
  }
}



.uk-slider-items img{
  width: 100%;
}