@font-face {
    font-family: 'Playfair Display Regular';
    src: url('PlayfairDisplay-Regular.eot');
    src: url('PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('PlayfairDisplay-Regular.woff2') format('woff2'),
    url('PlayfairDisplay-Regular.woff') format('woff'),
    url('PlayfairDisplay-Regular.ttf') format('truetype'),
    url('PlayfairDisplay-Regular.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Playfair Display Bold';
    src: url('PlayfairDisplay-Bold.eot');
    src: url('PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('PlayfairDisplay-Bold.woff2') format('woff2'),
    url('PlayfairDisplay-Bold.woff') format('woff'),
    url('PlayfairDisplay-Bold.ttf') format('truetype'),
    url('PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display Italic';
    src: url('PlayfairDisplay-Italic.eot');
    src: url('PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
    url('PlayfairDisplay-Italic.woff2') format('woff2'),
    url('PlayfairDisplay-Italic.woff') format('woff'),
    url('PlayfairDisplay-Italic.ttf') format('truetype'),
    url('PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display Black';
    src: url('PlayfairDisplay-Black.eot');
    src: url('PlayfairDisplay-Black.eot?#iefix') format('embedded-opentype'),
    url('PlayfairDisplay-Black.woff2') format('woff2'),
    url('PlayfairDisplay-Black.woff') format('woff'),
    url('PlayfairDisplay-Black.ttf') format('truetype'),
    url('PlayfairDisplay-Black.svg#PlayfairDisplay-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display Black Italic';
    src: url('PlayfairDisplay-BlackItalic.eot');
    src: url('PlayfairDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('PlayfairDisplay-BlackItalic.woff2') format('woff2'),
    url('PlayfairDisplay-BlackItalic.woff') format('woff'),
    url('PlayfairDisplay-BlackItalic.ttf') format('truetype'),
    url('PlayfairDisplay-BlackItalic.svg#PlayfairDisplay-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display Bold Italic';
    src: url('PlayfairDisplay-BoldItalic.eot');
    src: url('PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('PlayfairDisplay-BoldItalic.woff2') format('woff2'),
    url('PlayfairDisplay-BoldItalic.woff') format('woff'),
    url('PlayfairDisplay-BoldItalic.ttf') format('truetype'),
    url('PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'Futura New Light';
    src: url('FuturaNewLight-Reg.eot');
    src: url('FuturaNewLight-Reg.eot?#iefix') format('embedded-opentype'),
    url('FuturaNewLight-Reg.woff2') format('woff2'),
    url('FuturaNewLight-Reg.woff') format('woff'),
    url('FuturaNewLight-Reg.ttf') format('truetype'),
    url('FuturaNewLight-Reg.svg#FuturaNewLight-Reg') format('svg');
    font-weight: 300;
    font-style: normal;
}

